.NavBar {
    background-color: seagreen;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.NavBarLink {
    display: inline-block;
    color: palegreen;
    padding: 5px;
    text-decoration: none;
}
