.nav-bar {
  display: flex;
  justify-content: center;
  background-color: ghostwhite;
  padding: 10px;
}

.nav-link {
  margin: 0 10px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.nav-link:hover {
  color: #666;
}
